
#hunt_detail {
    margin:10px;
    background:white;
    border: rebeccapurple dotted 1px;
    font-size: 15px;
    position:relative;
}
#hunt_detail b{
    font-size:18px;
}
#status {
    position:absolute;
    width: 200px;
    background:ghostwhite;
    font-size:20px;
    border: aliceblue groove 3px;
    margin-bottom:20px;
}
#stat_order {
    position:absolute;
    left:2px;
    top:2px;
    font-weight:bold
}
#feedback {
    width:650px;
    position:absolute;
    left:250px;
    min-height:300px;
    background: papayawhip;
    padding:20px;
    border:aliceblue groove 5px;
}
#editcreds {
    display:none;
}
#commands a {
    margin:10px;
}

#teams {
    position:absolute;
    width: 200px;
    background:ghostwhite;
    font-size:20px;
    border: aliceblue groove 3px;
    margin-bottom:20px;
    left:1000px;
    margin-top:-43px;
    font-weight:bold;
}

#scheme {
    width:682px;
    left:244px;
    position:relative;
    background:cornsilk;
    border: aliceblue groove 3px;
    margin-bottom:10px;
    padding:5px;
    text-align:left;
}

table {
    border: 0;
    margin: 0;
    padding: 0;
}
tr {
    border: 0;
    margin: 0;
    padding: 0;
}
td {
    border: 0;
    margin: 0;
    padding: 0;
}
a {
    color:maroon;
    text-decoration:none;
}
a:visited {
    color:maroon;
    text-decoration:none;
}
a:hover {
    color:mediumpurple;
    text-decoration:underline;
}