<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ name }}'s eScavenge Dashboard</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static "web/style.css" %}">
</head>

<body>
<h1 id="header">Create Game</h1>
<a href={% url 'do' action='logout' %}>Logout</a><br>
<div id="feedback" class="feedback">
    <form action="{% url 'do' action='create' %}" method="POST">{% csrf_token %}{{ createForm.as_p }}<input type="hidden" name="mkr" value="{{ maker }}">
        <input type="submit" value="Create Game"></form>
    <br><br>
</div>
</body>
</html>