<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>eScavenge</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static "web/style.css" %}">
</head>
<body>
<h1>Welcome to eScavenge!</h1>

<br><br>
{% if attempted %}
    <h3 class="error">We're sorry, that login information is invalid</h3>
{% endif %}
<h3>Login:</h3>
<form method="POST" action={% url 'login' %}>
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Login">
</form>

</body>
</html>