<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ name }}'s eScavenge Dashboard</title>
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}style.css">
    <script>

        var curVisible;

        function clearChild() {
            if(typeof curVisible === 'undefined')
                return;
            curVisible.style.display = "none";
        }
        function showEditCreds() {
            clearChild();
            el = document.getElementById("editcreds")
            el.style.display = 'block';
            curVisible = el
        }
        function editTm(i) {
            clearChild();
            el = document.getElementById("cForm" + i);
            el.style.display = "block";
            curVisible = el;
        }
        function editLm(i) {
            clearChild();
            el = document.getElementById("hForm" + i);
            el.style.display = "block";
            curVisible = el;
        }
        function showReorder() {
            document.querySelectorAll('.huntForm').forEach(function(el){ el.style.display = 'block'});
            document.querySelectorAll('.huntOrder').forEach(function(el){ el.style.display = 'none'});
        }
        function hideReorder() {
            document.querySelectorAll('.huntForm').forEach(function(el){ el.style.display = 'none'});
            document.querySelectorAll('.huntOrder').forEach(function(el){ el.style.display = 'block'});
        }
        function submitReorder() {
            document.getElementById('reorder-form').submit();
        }
        function showEditScheme() {
            clearChild();
            el = document.getElementById('editscheme');
            el.style.display = 'block';
            curVisbile = el;
        }
    </script>
</head>

<body style="text-align:center; margin-top:100px;background:lavender; color:darkblue">
<h1 id="header">Welcome back {{ name }}!</h1>
<div id="commands"><a href="do/logout">Logout</a><a href="do/{% if gmdet.on %}stop">Stop {% else %}start">Start {% endif %}Game</a><a href="javascript:showEditCreds()">Edit Credentials</a><a href="edit/game">Edit Game Details</a></div><br><br>
<div id="status">
    <b>{{ gmdet.name }}</b><br>
    <form id='reorder-form' action="edit/reorder" method="POST">
    {% for x in hunt %}
        <div id="hunt_detail">
            <div id="stat_order"><span class="huntForm">{{x.0}}</span><span class="huntOrder">{{ x.1.order }}</span></div>
            <b><a href="javascript:editLm({{ x.1.order }})">{{ x.1.name }}</a></b>
        </div>
    {% endfor %}
    <span style="font-size:85%; line-height:1.3">
    <span class="huntForm">
        <a href="javascript:submitReorder()">Submit Reorder</a><br>
        <a href="javascript:hideReorder()">Cancel</a>
    </span><span class="huntOrder">
        <a href="javascript:showReorder()">Reorder</a>
    </span></span>
    </form>
</div>
<div id="middle-block">
    <div id="scheme"><table><tr><td style="width:120px"><b>Score Scheme :</b><br>{{ sch.name }}<br><a href="javascript:showEditScheme()">Edit</a></a></td><td><b>Wrong</b> = {{ sch.wrong }} <b>Right</b> = {{ sch.right }} <b>Per Pending Answer Second</b> = {{ sch.ans_per_sec }}<br><b>Place Numerator</b> = {{ sch.place_numerator }} <b>Game Duration per Second</b> = {{ sch.game_per_sec }}</td></tr></table></div>
<div id="feedback">
    <div id="editcreds"><form action="edit/creds" method="POST">{% csrf_token %}{{ credsForm }}<input type="submit" value="Change credentials"></form></div>
    <div id="editscheme"><form action="edit/scheme" method="POST">{% csrf_token %}{{ schemeForm.as_p }}<input type="submit" value="Submit Edit"></form></div>
    {% for x in hForms %}
        <div id="hForm{{ x.index }}" style="display:none">
            <h2>{{ x.form.name.value }}</h2>
            <form action="edit/lmark" method="POST">
                {% csrf_token %}
                {{ x.form.as_p }}
                <input type="hidden" name="lm_id" value="{{ x.lm_id }}">
                <input type="submit" value="Edit Landmark">
            </form>
        </div>
    {% endfor %}
    {% for x in cForms %}
        <div id="cForm{{ x.index }}" style="display:none">
            <b>{{ x.form.name.value }}</b><br>
            <form action="edit/admincreds" method="POST">
                {% csrf_token %}
                {{ x.form.as_p }}

                <input type="submit" value="Edit Credentials">
            </form>
        </div>
    {% endfor %}
</div></div>
<div id="teams">Teams:<br>
<a href="javascript:addTeam()" style="font-size:80%">Add Team</a><br>
{% for x in teams %}
    <div id="hunt_detail">
        <b><a href="javascript:editTm({{ x.index }})">{{ x.tm.name }}</a></b><br>
        Score: {{ x.st.score }}<br>
        Current: {{ x.lm }}<br>
        <a href="/edit/winner?u={{ x.tm.pk }}">Declare Winner</a><br>
        <a href="/edit/remove/?u={{ x.tm.pk }}">Delete Team</a>
    </div>
{% endfor %}
</div>
</body>
</html>