<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ name }}'s eScavenge Dashboard</title>
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}style.css">
    <script>
        function showEditCreds() {
            document.getElementById("editcreds").style.display = 'block';
        }
    </script>
</head>

<body style="text-align:center; margin-top:100px;background:lavender; color:darkblue">
<h1>Welcome back {{ name }}!</h1>
<div id="commands"><a href="do/logout">Logout</a><a href="do/forfeit">Forfeit</a><a href="javascript:showEditCreds()">Edit Credentials</a></div><br><br>
<div id="status">Your Progress:<br>
    <b>{{ gmdet.name }}</b><br>
    {% for p in progress %}
        <div id="hunt_detail">
        <div id="stat_order">{{ p.order }}</div>
            <b>{{ p.lm }}</b><br>{{ p.right }}<br>Score: {{ p.score|floatformat }}
        </div>
    {% endfor %}
    Total Score = <b>{{ total|floatformat }}</b>
</div>
<div id="feedback">
    <div id="editcreds"><form action="edit/creds" method="POST">{% csrf_token %}{{ credsForm }}<input type="submit" value="Change credentials"></form></div>
    <h2>{{ title }}</h2>
    {{ feedback }}
    <br><br>
    {% if type == 'clue' %}
        <a href="/req/ques">Request Question</a>
    {%  elif type == 'pending' %}
        Requested @ {{ pending }}
        <br><br>
        <form action="/req/ans" method="POST">
        {% csrf_token %}
        {{ ansForm }}
        <input type="submit" value="Submit Answer">
        </form>
    {% elif type == 'error'%}
        <a href="/">Home</a>
    {% endif %}
</div>
</body>
</html>