<!DOCTYPE html>
<!--suppress JSUnusedLocalSymbols -->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ name }}'s eScavenge Dashboard</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static "web/style.css" %}">
    <script>
        function showEditCreds() {
            document.getElementById("editcreds").style.display = 'block';
        }
    </script>
</head>

<body>
<header>
    <h1>Welcome back {{ name }}!</h1>
    <div id="team-commands" class="commands">
        <a href="{% url 'do' action="logout" %}">Logout</a>
        <a href="{% url 'do' action='forfeit' %}">Forfeit</a>
        <a href="javascript:showEditCreds()">Edit Credentials</a>
    </div>
</header>
<div class="flex-container">
<div class="vertical-flex">
    <div id="team-status" class="horizontal_bar">Your Progress:<br>
    <b>{{ gmdet.name }}</b><br>
    {% for p in progress %}
        <div id="hunt_detail">
        <div id="stat_order">{{ p.order }}</div>
            <b>{{ p.lm }}</b><br/>
            {{ p.right }}<br/>
            Score: {{ p.score|floatformat }}
        </div>
    {% endfor %}
    Total Score = <b>{{ total|floatformat }}</b>
</div>
    <div id="feedback" class="feedback">
    <div id="editcreds" class="hidden_form">
        <form action="{% url 'edit' to_edit='creds' %}" method="POST">
            {% csrf_token %}
            {{ credsForm }}
            <input type="submit" value="Change credentials">
        </form>
    </div>
    <h2 id="page-type">{{ title }}</h2>
    <span id="page-contents">{{ feedback }}</span>
    <br><br>
    {% if type == 'clue' %}
        <a href={% url 'req' kind='ques' %}>Request Question</a>
    {%  elif type == 'pending' %}
        Requested @ {{ pending }}
        <br><br>
        <form method="POST" action={% url 'req' kind='ans' %}>
        {% csrf_token %}
        {{ ansForm }}
        <input type="submit" value="Submit Answer">
        </form>
    {% elif type == 'error'%}
        <a href="/">Home</a>
    {% endif %}
</div>
</div>
</div>
</body>
</html>